{% extends 'base.html' %}
{% load static %}
{% block 'title' %} <title> Myfilms | Perfil </title> {% endblock 'title' %}

{% block content %}


<header class="masthead" style="background-image: url('{% static "assets/img/login-superman.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <h1>Hello, {{ request.user.first_name }}!</h1>
                    <hr>
                    <h2>Informations</h2><br>
                    <h4>Full name: {{ request.user.first_name }} {{ request.user.last_name }}</h4>
                    <h4>Email: {{ request.user.email }}</h4>
                    <h4>Username: {{ request.user.username }}</h4>
                    <br>
                    <a href="{% url 'signout' %}"><h5>Logout</h5></a> 
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}